BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
FixNamespaceComments: false
